* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1 {
    color:rgb(174, 27, 52);
    
}

header {
    background-color: grey;
    color: black;
    padding: 1rem;
}
.hero {
    color: red;
    height: 50vh;
}
.contact {
    background-color: green;
    color: white;
}
footer {
   background-color: cornflowerblue;
   padding: 4rem 0; 
}